$blue-cta-hover: #003681;
$blue-cta: #0051c3;
$orange-cta-hover: #975601;
$orange-cta: #c36f00;
$green-badge: #a8e9c0;
$green-success: #28a745;
$red-failure: #dc3545;
$red-badge: #e9a8a8;
$gray-0: #fcfcfc;
$gray-1: #F2F2F2;
$gray-2: #B6B6B6;
$gray-3: #595959;
$yellow-highlight-row: rgba(255, 255, 194, 0.808);
